.gform_wrapper ul {
  @extend .list-unstyled;
}
.gform_wrapper li {
  @extend .form-group;
}
.gform_wrapper form {
  margin-bottom: 0;
}
.gform_wrapper .gfield_required {
  color: $state-danger-text;
}
.ginput_container input,
.ginput_container select,
.ginput_container textarea {
  @extend .form-control;
}
.ginput_container textarea {
  height: auto;
}
.gform_button {
  @extend .btn;
  @extend .btn-primary;
}
.gform_wrapper .gfield_error {
  .gfield_label,
  .validation_message {
    color: $state-danger-text;
  }
}
.validation_error {
  @extend .alert;
  @extend .alert-danger;
}
#gforms_confirmation_message {
  @extend .alert;
  @extend .alert-success;
}
.input-group {
  .input-group-btn,
    .form-control{
      display: flex;
  }
}
.nolabel label {
   display: none;
}
