/*
 * Play icon
 */
$icon-external-link: svg-inline('<svg x="0" y="0"  width="16" height="16" viewBox="0 0 16 16"><style>path{fill:white;}</style><path d="M14 16v-11l-1 1v9h-12v-12h9l1-1h-11v14z M16 0h-5l1.8 1.8-6.8 6.8 1.4 1.4 6.8-6.8 1.8 1.8z"/></svg>');

/*
 * Set wich breakpoints object to use
 */
$breakpoints: $grid-breakpoints;


/*
 * Viewport fix for IE Win8 metro
 */
@-ms-viewport {
    width: device-width;
}


/*
 * Viewport fix for Windows phone
 */
@viewport {
    width: device-width;
}


 /*
  * Sticky footer
  *
  * 1. Avoid the IE 10-11 `min-height` bug.
  * 2. Set `flex-shrink` to `0` to prevent some browsers from
  *    letting these items shrink to smaller than their content's default
  *    minimum size. See http://bit.ly/1Mn35US for details.
  * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
  */
html,
body {
  height: 100%; /* 1, 3 */
}
body {
  display: flex;
  flex-direction: column;

  .wrap,
  .navbar,
  .contact-form,
  .content-info {
    flex: none; /* 2 */
  }

  .wrap {
    flex: 1 0 auto; /* 2 */
  }
}



/*
 * Hidden utility
 */
.hidden {
  display: none;
}



/*
 * Labels
 */
label {
   display: inline;
}


/*
 * Lists
 */
ul, ol {
  padding-left: $spacer;
}


/*
 * Flexible grid 
 */
[class*="col-"] {
  min-height: 1px;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  position: relative;

  @include media (">=sm") {
    flex: 1 1 0;
  }
}



/*
 * Header margin
 */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}


/*
 * Link transition
 */
a {
    @include transition(color .2s ease-in-out, background .2s ease-in-out);
}


/*
 * More link
 */
.more {
  white-space: nowrap;
}

/*
 * Buttons 
 */
.btn {
  position: relative;
  font-family: $font-family-headings;
  text-transform: uppercase;
  font-size: 1.25rem;
}

/*
 * Icons
 */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}


/*
 * Search
 */
.search,
.archive {
  .hentry {
    &:not(:last-child) {
      margin-bottom: $grid-gutter-width;
    }

    @include media (">=sm") {
      padding-left: 200px;
    }

    @include media (">=lg") {
      padding-left: 250px;
    }

    img {
      @include media ("<sm") {
        margin-bottom: $spacer;
        width: 100%;
      }

      @include media (">=sm") {
        float: left;
        margin-left: -200px;
      }
    }

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    p {
       margin-bottom: 0;
    }
  }
}


/*
 * Main wrapper
 */
.wrap {
  background: url(../images/page-bg.png) repeat 50% 0 fixed;
}


/*
 * Page content
 */
.page-content {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}


/*
 * Sections
 */
.section {
   position: relative;
   @include transition(min-height .2s ease-out);
   min-height: 100vh;

   padding-top: $grid-gutter-width/2;
   padding-bottom: $grid-gutter-width/2;

   @include media (">=sm") {
     @include make-row(0);
     align-items: center;

     padding-top: $grid-gutter-width;
     padding-bottom: $grid-gutter-width;
   }

   &:not(:last-child) {
      margin-bottom: $grid-gutter-width*2;
   }
}


/*
 * Section wrapper
 */
.section-wrapper {
  @include make-container(0);
  @include make-container-max-widths();
  position: relative;
  @include make-col-span(12);

  .scroll-btn {
    width: 73px;
    height: 73px;
    @include border-radius(50%);
    @include box-shadow(0 4px 0 rgba(0,0,0,.05));
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 2;

    transform: translate3d(-50%,-60%,0);

    .icon {
      opacity: .5;
    }

    @include hover-focus {
      .icon {
        opacity: 1;
      }
    }
  }
}


/*
 * Section title
 */
.section-title {
  margin: 0 auto 1em;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #fff;

  span {
    display: inline-block;
    padding: $spacer $grid-gutter-width;
    position: relative;

    &:before {
       content: "";
       display: block;
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
       height: 3px;
       overflow: hidden;
       @include gradient-horizontal-four-colors(transparent, $brand-primary, 30%, $brand-primary, 70%, transparent);
    }

  }

}


/*
 * Section content
 */
.section-content {
  @include clearfix();
  background-color: rgba(255,255,255,.8);

  padding: $grid-gutter-width/4 $grid-gutter-width/4 $grid-gutter-width;

  > .row {
     @include make-row($grid-gutter-width/4);
  }

  @include media (">=sm") {
    padding: $grid-gutter-width/2 $grid-gutter-width/2 $grid-gutter-width;

    > .row {
       @include make-row($grid-gutter-width/2);
    }
  }

  @include media (">=lg") {
    padding: $grid-gutter-width;

    > .row {
       @include make-row($grid-gutter-width);
    }
  }
}


/*
 * Contact Form
 */
.contact-form {
  padding: $grid-gutter-width/2 0;

  .gforms_confirmation_message {
    text-align: center;
  }

  .gform_fields {
    margin-bottom: $spacer*2;
    @include clearfix();
  }

  .gfield {
    width: 300px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .gfield_label {
     display: none;
  }

  .gform_ajax_spinner {
    background-color: #FFF;
    border-radius: 50%;
    margin-left: $spacer/2;
  }

  .gform_footer {
    text-align: center;
  }

}


/*
 * Portfolio
 */
.portfolio-carousel {
    position: relative;

    .icon {
        fill: darken($gray-light, 2%);
    }

    .jcarousel li {
      padding-top: $grid-gutter-width/2;
      padding-bottom: $grid-gutter-width/2;
    }

    .jcarousel-control-prev,
    .jcarousel-control-next {
        background-color: #fff;
        border: 0 none;
        padding: $spacer/2;
        position: absolute;
        @include border-radius(50%);
        color: $brand-primary;

        top: auto;
        bottom: $spacer/2;
        height: $grid-gutter-width;

        @include media (">=md") {
            top: 37%;
            bottom: auto;
            transform: translate3d(0,-50%,0);
            height: auto;
        }

        .icon {
            @include transition(fill .2s ease-out);

            @include media ("<md") {
              width: 40px;
              height: 40px;
            }
        }

        @include hover-focus {
            .icon {
                fill: $brand-primary;
            }
        }
    }

    .jcarousel-control-prev {
      left: 0;

      @include media (">=md") {
        left: auto;
        right: 100%;
      }

      @include media (">=lg") {
        margin-right: $grid-gutter-width/2;
      }
    }

    .jcarousel-control-next {
      right: 0;

      @include media (">=md") {
        right: auto;
        left: 100%;
      }

      @include media (">=lg") {
        margin-left: $grid-gutter-width/2;
      }
    }

    .thumb-wrapper {
        margin-bottom: $spacer*2;

        @include media (">=sm") {
          padding-left: $grid-gutter-width/4;
          padding-right: $grid-gutter-width/4;
        }

        a{
            display: block;
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 60%;
            border: 2px solid $gray-lightest;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
            }

            &:before {
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: $brand-primary;
                @include transition(opacity .2s ease-out);
            }

            &:after {
                width: 50px;
                height: 50px;
                background: url($icon-external-link) no-repeat 60% 50%;
                background-size: 40% 40%;

                padding: 15px;
                background-color: rgba(0,0,0,.8);
                @include border-radius(50%);
                @include transition(background .2s ease-out);
            }

            @include hover-focus {

                &:before {
                     opacity: .3;
                }

                &:after {
                     background-color: $brand-primary;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            padding: $spacer/2;
        }

    }

    h3 {
        margin: 0;
        font-family: $font-family-sans-serif;
        text-align: center;
        font-size: $font-size-base*1.125;
        text-transform: none;

        @include media ("<sm") {
          padding-left: $grid-gutter-width;
          padding-right: $grid-gutter-width;
        }
    }

}


.section-blog {

    .article-list {
      @include list-unstyled();
      @include make-row(0);
      margin-bottom: 0;
      align-content: flex-start;
      position: relative;

      li {
        padding-top: $grid-gutter-width/2;
        padding-bottom: $grid-gutter-width/2;
        @include make-col-span(12);

        @include media (">=md") {
          @include make-col($spacer*2);
          @include make-col-span(6);
        }

        @include media (">=xl") {
            @include make-col-span(4);
        }

        @include transition(opacity .2s ease-out);

      }
    }

    .thumb {
      position: relative;
      padding-bottom: 60%;
      height: 0;
      margin-bottom: $spacer*1.5;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid $gray-lightest;
        padding: $spacer/2;
      }
    }

    h3 {
        font-size: $font-size-base*1.3125;
        margin-bottom: .5em;
    }

    .excerpt {
        font-size: $font-size-base;
        line-height: 1.65;

        .more {
            white-space: nowrap;
        }
    }

    .load-p-control {
        margin-bottom: 0;
        text-align: center;

        button {
            @extend .btn;
            @extend .btn-sm;
            @extend .btn-primary-outline;
            @include transition(color .2s ease-out);

            &.loading {
                .spinner {
                    display: block;
                }
            }

            .spinner {
              margin: 0 auto;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 100%;
              display: none;
            }

            .spinner > span {
              width: $spacer;
              height: $spacer;
              background-color: $brand-primary;
              overflow: hidden;

              display: inline-block;
              -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
              animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }

            .spinner .bounce1 {
              -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s;
            }

            .spinner .bounce2 {
              -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s;
            }

        }
    }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
