/*
 * Play icon
 */
$icon-play: svg-inline('<svg x="0" y="0" viewBox="0 0 163.861 163.861"><style>path{fill:white;}</style><path d="M34.857,3.613C20.084-4.861,8.107,2.081,8.107,19.106v125.637c0,17.042,11.977,23.975,26.75,15.509L144.67,97.275 c14.778-8.477,14.778-22.211,0-30.686L34.857,3.613z"/></svg>');

/*
 * Set wich breakpoints object to use
 */
$breakpoints: $grid-breakpoints;


/*
 * Viewport fix for IE Win8 metro
 */
@-ms-viewport {
    width: device-width;
}


/*
 * Viewport fix for Windows phone
 */
@viewport {
    width: device-width;
}


 /*
  * Sticky footer
  *
  * 1. Avoid the IE 10-11 `min-height` bug.
  * 2. Set `flex-shrink` to `0` to prevent some browsers from
  *    letting these items shrink to smaller than their content's default
  *    minimum size. See http://bit.ly/1Mn35US for details.
  * 3. Use `%` instead of `vh` since `vh` is buggy in older mobile Safari.
  */
html,
body {
  height: 100%; /* 1, 3 */
}
body {
  display: flex;
  flex-direction: column;

  .wrap,
  .navbar,
  .contact-form,
  .content-info {
    flex: none; /* 2 */
  }

  .wrap {
    flex: 1 0 auto; /* 2 */
  }
}



/*
 * Hidden utility
 */
.hidden {
  display: none;
}


label {
   display: inline;
}



/*
 * Flexible grid 
 */
[class*="col-"] {
  min-height: 1px;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  position: relative;
  flex: 1 1 0;
}



/*
 * Header margin
 */
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  text-transform: uppercase;
}


/*
 * Link transition
 */
a {
    @include transition(color .2s ease-in-out, background .2s ease-in-out);
}


/*
 * More link
 */
.more {
  white-space: nowrap;
}

/*
 * Buttons 
 */
.btn {
  position: relative;
  font-family: $font-family-headings;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.25rem;
  min-width: 150px;
}

/*
 * Icons
 */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 50px;
}


/*
 * Search
 */
.search,
.archive {
  .hentry {
    &:not(:last-child) {
      margin-bottom: $grid-gutter-width;
    }

    padding-left: 180px;

    img {
       float: left;
       margin-left: -180px;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}


/*
 * Content space
 */
.page-content {
  padding-top: $grid-gutter-width;
  padding-bottom: $grid-gutter-width;
}


/*
 * Sections
 */
.section {
   position: relative;
   padding-top: $grid-gutter-width*2;
   padding-bottom: $grid-gutter-width*3;

   .scroll-btn {
     width: 73px;
     height: 73px;
     @include border-radius(50%);
     @include box-shadow(0 4px 0 rgba(0,0,0,.05));
     display: flex;
     align-items: center;
     justify-content: center;

     position: absolute;
     top: 100%;
     left: 50%;
     z-index: 1;

     transform: translate3d(-50%,-70%,0);

     .icon {
       opacity: .5;
     }
   }
}


/*
 * Section wrapper
 */
.section-wrapper {
  @include make-container(0);
  @include make-container-max-widths();
}


/*
 * Section title
 */
.section-title {
  margin: 0 0 2rem;
  color: #fff;
  padding: $spacer/2 $grid-gutter-width;
  @include gradient-horizontal(darken($brand-primary, 10%), transparent);
}


/*
 * Section content
 */
.section-content {
  @include clearfix();
  padding: $grid-gutter-width $grid-gutter-width/2;
  background-color: #fff;
}


/*
 * Contact Form
 */
.contact-form {
  overflow: hidden !important;
  background-color: $gray;
  background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 2px, transparent 6px);
  color: #fff;

  .inner {
    @include make-container();

    @include media (">=md") {
      @include make-row(auto);
      @include make-container-max-widths();

      position: relative;
      z-index: 1;

      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 9999px;
        z-index: -1;
      }

      &:before {
        right: 66.66666%;
        background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 2px, transparent 6px);
        background-color: $gray-lighter;
        height: 100%;
      }

      &:after {
        left: 33.33333%;
        top: 50%;
        transform: translate3d(0, -50%, 0);
        width: 0;
        height: 0;
        border-top: $spacer*1.25 solid transparent;
        border-left: $spacer*1.25 solid $gray-lighter; 
        border-bottom: $spacer*1.25 solid transparent;
      }
    }

  }

  .column {
     @include make-col(0);

     @include media ("<md") {
       margin-left: -$grid-gutter-width/2;
       margin-right: -$grid-gutter-width/2;
     }

     @include media (">=md") {
       @include make-row(0);
       align-items: center;
       justify-content: center;

       &:nth-child(1) {
         @include make-col-span(4);
       }

       &:nth-child(2) {
         @include make-col-span(8);
       }
     }
  }

  header {
    padding: 30px;

    @include media ("<md") {
      background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 2px, transparent 6px);
      background-color: $gray-lighter;
      background-position: 50% 0;
      @include make-row(0);
      align-items: center;
      justify-content: center;
    }

    @include media (">=md") {
      @include make-col-span(12);
    }

    .form-title {
      text-transform: uppercase;
      color: #fff;
      font-size: 30px/$font-size-root*1rem;
      white-space: nowrap;
      margin: 2rem 0;

      @include media (">=md") {
        text-align: center;
        margin-bottom: 0;
      }

      span {
        color: $gray;
      }
    }
  }

  .gform_wrapper,
  .gforms_confirmation_message {
    padding: $grid-gutter-width*2 $grid-gutter-width;
  }

  .gforms_confirmation_message {
    text-align: center;
  }

  .ginput_container {
    @include text-inputs() {
      background-color: $gray-lighter;
      border-color: $gray-lighter;
    }
  }

  .gform_body {
    @include make-row(0);
    flex-direction: column;
    justify-content: center;

    @include media (">=lg") {
      flex-direction: row;
    }
  }


  .gform_fields {
    margin-bottom: $spacer*2;
    @include clearfix();

    @include media (">=lg") {
      @include make-col(0);
    }

    &:nth-child(2n) {
      @include media (">=lg") {
        margin-left: $spacer;
      }

      @include media (">=xl") {
        margin-left: $spacer*2;
      }

    }
  }

  .gfield {
    width: 300px;
    max-width: 100%;

    @include media ("<md") {
      margin-left: auto;
      margin-right: auto;
    }

    @include media (">=lg") {
       width: 260px;
    }

    @include media (">=xl") {
       width: 320px;
    }
  }

  .gfield_html {
     display: none;
  }

  .gform_ajax_spinner {
    background-color: #FFF;
    border-radius: 50%;
    margin-left: $spacer/2;
  }

  .gform_footer {
    text-align: center;
  }

}


/*
 * Hexagon
 */
.hexagon {
  @include hexagon(100px, 110px, darken($brand-primary, 5%), lighten($brand-primary, 5%));

  @include make-row(auto);
  align-items: center;
  justify-content: center;

  @include media ("<md") {
    margin-right: $spacer;
  }

  @include media (">=md") {
    margin: auto;
  }

  .icon {
    use {
      fill: #fff;
    }
  }
}


/*
 * Portfolio
 */
.portfolio-carousel {
    position: relative;

    @include media (">=sm") {
        padding-left: $grid-gutter-width*2;
        padding-right: $grid-gutter-width*2;
    }

    @include media (">=md") {
        padding-left: $grid-gutter-width*2.5;
        padding-right: $grid-gutter-width*2.5;
    }

    .icon {
        fill: darken($gray-light, 2%);
    }

    .jcarousel-control-prev,
    .jcarousel-control-next {
        background-color: transparent;
        border: 0 none;
        padding: 0;
        position: absolute;

        top: auto;
        bottom: 0;
        height: $grid-gutter-width*2;

        @include media (">=sm") {
            top: 35%;
            bottom: auto;
            transform: translate3d(0,-50%,0);
            height: auto;
        }

        .icon {
            @include transition(fill .2s ease-out);
        }

        @include hover-focus {
            .icon {
                fill: $brand-primary;
            }
        }
    }

    .jcarousel-control-prev {
        left: $spacer;
    }

    .jcarousel-control-next {
        right: $spacer;
    }

    .thumb-wrapper {
         margin-left: $grid-gutter-width/2;
         margin-right: $grid-gutter-width/2;
         border: 2px solid $gray-lightest;
         padding: $spacer/2;

        a{
            display: block;
            position: relative;
            overflow: hidden;
            height: 0;
            padding-bottom: 60%;

            &:before,
            &:after {
                content: "";
                display: block;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                transform: translate3d(-50%,-50%,0);
            }

            &:before {
                width: 100%;
                height: 100%;
                opacity: 0;
                background-color: $brand-primary;
                @include transition(opacity .2s ease-out);
            }

            &:after {
                width: 50px;
                height: 50px;
                background: url($icon-play) no-repeat 60% 50%;
                background-size: 40% 40%;

                padding: 15px;
                background-color: rgba(0,0,0,.8);
                @include border-radius(50%);
                @include transition(background .2s ease-out);
            }

            @include hover-focus {

                &:before {
                     opacity: .3;
                }

                &:after {
                     background-color: $brand-primary;
                }
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .title {
        margin-left: $grid-gutter-width*2;
        margin-right: $grid-gutter-width*2;
        font-family: $font-family-sans-serif;
        text-align: center;
        margin-bottom: 0;
        font-size: $font-size-base*1.125;
        padding-top: $spacer*2;
        padding-bottom: $spacer*1.5;

        @include media (">=sm") {
            margin-left: $grid-gutter-width/2;
            margin-right: $grid-gutter-width/2;
        }
    }

}


.section-blog {

    .article-list {
        @include list-unstyled();
        @include make-row(0);
        margin: 0;
        align-content: flex-start;
        position: relative;

        li {
            @include make-col();
            @include make-col-span(12);

            @include media (">=md") {
                @include make-col-span(6);
            }

            @include media (">=xl") {
                @include make-col-span(4);
            }

            @include transition(opacity .2s ease-out);

          article {
            padding: $grid-gutter-width 0;
          }
        }
    }

    .thumb {
      position: relative;
      padding-bottom: 60%;
      height: 0;
      margin-bottom: $spacer*1.5;
    }

    .wp-post-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .title {
        font-size: $font-size-base*1.3125;
        font-weight: 600;
        margin-bottom: .5em;
    }

    .excerpt {
        font-size: $font-size-base*1.0625;
        line-height: 1.65;

        .more {
            font-weight: 700;
            white-space: nowrap;
        }
    }

    .load-p-control {
        margin-bottom: 0;
        text-align: center;

        button {
            @extend .btn;
            @extend .btn-primary-outline;
            @include transition(color .2s ease-out);

            &.loading {
                .spinner {
                    display: block;
                }
            }

            .spinner {
              margin: 0 auto;
              position: absolute;
              left: 0;
              right: 0;
              bottom: 100%;
              display: none;
            }

            .spinner > span {
              width: $spacer;
              height: $spacer;
              background-color: $brand-primary;
              overflow: hidden;

              display: inline-block;
              -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
              animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            }

            .spinner .bounce1 {
              -webkit-animation-delay: -0.32s;
              animation-delay: -0.32s;
            }

            .spinner .bounce2 {
              -webkit-animation-delay: -0.16s;
              animation-delay: -0.16s;
            }

        }
    }
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% { 
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
