.content-info {
  background-color: $gray-dark;

  .container {
    padding-top: $spacer*2;
    padding-bottom: $spacer*2;
    text-align: center;
    color: #999;
    font-size: 14px/$font-size-root*1rem;
  }

  p {
    margin: 0;

  }
}
