.navbar{
  background-color: #fff;
  margin: 0;
  @include transition(height .2s ease-out);
  @include box-shadow(0 5px 5px rgba(0,0,0,.2));
  min-height: $navbar-height;

  &.navbar-sticky {
    @include clearfix();

    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $zindex-navbar;
  }

  .navbar-container,
  .controls,
  .navbar-brand {
    height: 100%;
  }

  .navbar-container {
    @include make-container(0);
    @include make-container-max-widths();

    @include media (">=md") {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  }

  .controls {
    @include media ("<=md") {
      @include make-row(0);
      justify-content: space-between;
    }

    @include media (">=sm", "<md") {
      justify-content: center;
    }
  }

  .collapse {
    @include media (">=sm") {
      display: block !important;
      height: auto !important;
    }
  }

}


.navbar-toggler {
  color: $brand-primary;
  overflow: hidden;
  position: relative;
  vertical-align: top;
  border-radius: 0;

  @include media (">=sm") {
    display: none;
  }

  .icon {
      @include transition(opacity .3s ease-in-out, transform .3s ease-in-out);
      display: block;
      font-size: 0;
      width: $spacer*2;
      height: $spacer*1.5;
      overflow: hidden;
  }

  .icon-menu {
    transform: translate3d(0, 30px, 0);
    @include toggle-off();
    border-bottom: 5px solid $brand-primary;

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: $brand-primary;
        height: 5px;
    }

    &:after {
         top: 50%;
    }
  }
  .icon-close {
    transform: translate3d(0, 0, 0);
    @include toggle-on();

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      width: 80%;
      margin: auto;
      background-color: $brand-primary;
      height: 4px;
      transform-origin: 50% 50%;
    }

    &:after {
        transform: rotate(45deg);
    }

    &:before {
        transform: rotate(-45deg);
    }
  }

  &:not(.collapsed) {
    background-color: $gray-lightest;
  }

  &.collapsed {

    .icon-menu {
      transform: translate3d(0, 0, 0);
      @include toggle-on();
    }
    .icon-close {
      transform: translate3d(0, -30px, 0);
      @include toggle-off();
    }
  }
}

.navbar-brand {
  float: none;
  display: inline-block;
  margin-right: 0;
  padding: $spacer/2;
  display: flex;
  align-items: center;

  .brand-img {
    height: 60px;
    margin-right: $spacer;
  }

  .brand-text {
    white-space: nowrap;
    font-family: $font-family-headings;
    font-size: 24px/$font-size-root*1rem;
    line-height: 1;

    h1, p {
      margin: 0;
    }

    h1, strong {
      font-size: 24px/$font-size-root*1rem;
      line-height: 1;
      color: $gray-dark;
      text-transform: uppercase;
    }

    p {
      font-size: 21px/$font-size-root*1rem;
      color: $gray-lighter;
    }

    strong {
       display: block;
       font-weight: 400;
    }

    em {
       font-style: normal;
       color: $brand-primary;
    }
  }
}


.navbar-nav {
  @include media ("<md") {
    text-align: center;
  }

  .nav-item {
    position: relative;
    float: none;

    &:not(:first-child) {
      margin-left: 0;
    }

    @include media ("<sm") {
      &:not(:last-child) {
        border-bottom: 1px solid darken($gray-lightest, 15%);
      }
    }

    @include media (">=sm") {
      display: inline-block;
    }

    &.nav-my-account {
      > .nav-link {
        @include media ("<sm") {
          padding: $spacer*1.8;
        }

        @include media (">=sm") {
          padding: $spacer*0.5;
        }
      }
    }

    &.active > .nav-link{
      color: $brand-primary;
    }

    >.dropdown-menu{
      @include transition(opacity .2s ease-out);

      @include media (">=sm") {
        display: block;
        visibility: hidden;
        opacity: 0;
      }
    }

    &.open{
      >.dropdown-menu{
          opacity: 1;
          visibility: visible;
      }
    }

    &.dropdown-rtl{
      >.dropdown-menu{
          left: auto;
          right: 0;
      }
    }
  }

  .nav-link {
    position: relative;
    padding: $spacer*1.5 $spacer $spacer;
    font-size: 18px/$font-size-root*1rem;
    font-family: $font-family-headings;
    color: $gray-light;

    &:not(:first-child) {
      margin-left: 0;
    }

    @include media (">=sm") {
      padding: $spacer/2 $spacer;
    }

    @include hover-focus{
      color: $brand-primary;
    }

    &.dropdown-toggle {
      margin-right: 0;
    }
  }

}

.dropdown-menu{
  padding: 0;
  border-radius: 0;

  @include media ("<sm") {
    position: static;
    float: none;
    margin: 0;
    border-radius: 0;
    border: 0 none;

  }

  .dropdown-item {
    padding: 0;

    &.active {
      .nav-link {
        color: $brand-primary;
      }
    }

    .nav-link {
      padding: $spacer;

      @include media ("<sm") {
        padding-left: $spacer*2;
      }
    }

  }
}
